node_modules
build
dist
web/node_modules
web/dist
logs
uploads
.git
web/.git
.gitignore
*.md
LICENSE
NOTICES.txt
electron-builder.yml
backup
env
docs
*.log
.env*
data/web
data/serve
data/oss
data/logs
